<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout</title>
    <!-- <link rel="stylesheet" href="../assets/styles/form-styles.css"> -->
    <link rel="stylesheet" href="../assets/styles/styles.css">
</head>
<body>
     <!-- Header -->
     <header class="main-header">
        <div class="black container-one">
            <p>Sign Up and get 20&#37; off to your first order.</p>
            <div class="sign-up">
                <a href="#">Sign Up Now</a>
            </div>
            <div class="close">
                <a href="#"><img src="../assets/images/closesign.png" alt="close"></a>
            </div>
        </div>
        <div class="two-col container-two">
            <div class="col">
                <div class="logo">
                    <a href="../index.html"><img src="../assets/images/SHOP.CO.png" alt="Shop.Co"></a>
                </div>
                <nav class="navigation">
                    <ul>
                        <li><a href="#">Shop<img src="../assets/images/downarrow.png" alt="downarrow"></a></li>
                        <li><a href="#">On Sale</a></li>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Brands</a></li>
                    </ul>
                </nav>
                <div class="search-box">
                    <button id="search"><img src="../assets/images/search.png" alt="search"></button>
                    <input type="text" class="search-input" placeholder="Search...">
                </div>
            </div>
            <div class="main-shop">
                <div class="shop">
                    <a href="#"><img src="../assets/images/trolley.png" alt="trolley"></a>
                </div>
                <div class="profile">
                    <a href="#"><img src="../assets/images/profile.png" alt="profile"></a>
                </div>
            </div>
        </div>
    </header>
<section class="questions container-one">
    <h1>Checkout</h1>   
</section>
    
<div class="container">
    <form id="billingForm" method="get">
        <h2>Card Details</h2>
        <label for="Cardholder">Full Name:</label>
        <input type="text" id="Cardholder" name="Cardholder" >
        <br><br>

        <label for="CreditCardNumber">Credit Card Number:</label>
        <input type="text" id="CreditCardNumber" name="CreditCardNumber" >
        <br><br>

        <label for="CVV">CVV:</label>
        <input type="text" id="CVV" name="CVV" >
        <br><br>

        <label for="ExpirationDate">Expiration Date:</label>
        <input type="month" id="ExpirationDate" name="Expiration-Date"  placeholder="MM/YYYY" required>
        <br><br>

        <input type="submit" value="Submit" id="button">
    </form>
</div>
   <!-- Footer Section -->
 <section class="footer-section">
    <div class="blacktwo-one">
        <h3>STAY UP TO DATE ABOUT OUR LATEST OFFERS</h3>
        <div class="email-box">
            <div>
                <input type="email" class="email-input" placeholder="Please enter your Email">
            </div>
            <div>
                <button id="btn"><a href="#">Subscribe to Newsletter</a></button>
            </div>
        </div>
    </div>
</section>

<footer class="footerbottom-one container-one">
        <div class="column">
            <a href="../index.html"><img src="../assets/images/SHOP.CO.png" alt="Shop.Co"></a>
            <p>We have clothes that suits your style and which you&apos;re proud to wear. From women to men.</p>
            <div class="social-icons">
                <a href="https://x.com/?lang=en-za"><img src="../assets/images/twitter.png" alt="twitter"></a>
                <a href="https://www.facebook.com/"><img src="../assets/images/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="instagram"></a>
                <a href="https://github.com/"><img src="../assets/images/github.png" alt="github"></a>
            </div>
        </div>
        <div class="column">
            <h3>COMPANY</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Works</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>HELP</h3>
            <ul>
                <li><a href="#">Customer Support</a></li>
                <li><a href="#">Delivery Details</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>FAQ</h3>
            <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Manage Deliveries</a></li>
                <li><a href="../pages/faq.html">Orders</a></li>
                <li><a href="#">Payments</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>RESOURCES</h3>
            <ul>
                <li><a href="#">Free eBooks</a></li>
                <li><a href="#">Development Tutorial</a></li>
                <li><a href="#">How to - Blog</a></li>
                <li><a href="#">Youtube Playlist</a></li>
            </ul>
        </div>
    </div>
</footer>
    <div class="banking">
        <div class="container-three">
        
        <p>Shop.co &copy;2000 - 2023. All Rights Reserved</p>
        
        <div class="bank">
            <img src="../assets/images/visa.png" alt="visa">
            <img src="../assets/images/mastercard.png" alt="mastercard">
            <img src="../assets/images/paypal.png" alt="paypal">
            <img src="../assets/images/applepay.png" alt="applepay">
            <img src="../assets/images/gpay.png" alt="gpay">
        </div> 
    </div>
    </div>



