<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/resources/slick-1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="../assets/resources/slick-1.8.1/slick/slick-theme.css"/>
</head>
<body>
    <!-- Header -->
    <header class="main-header">
        <div class="black container-one">
            <p>Sign Up and get 20&#37; off to your first order.</p>
            <div class="sign-up">
                <a href="#">Sign Up Now</a>
            </div>
            <div class="close">
                <a href="#"><img src="../assets/images/closesign.png" alt="close"></a>
            </div>
        </div>
        <div class="two-col container-two">
            <div class="col">
                <div class="logo">
                    <a href="../index.html"><img src="../assets/images/SHOP.CO.png" alt="Shop.Co"></a>
                </div>
                <nav class="navigation">
                    <ul>
                        <li><a href="#">Shop<img src="../assets/images/downarrow.png" alt="downarrow"></a></li>
                        <li><a href="#">On Sale</a></li>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Brands</a></li>
                    </ul>
                </nav>
                <div class="search-box">
                    <button id="search"><img src="../assets/images/search.png" alt="search"></button>
                    <input type="text" class="search-input" placeholder="Search...">
                </div>
            </div>
            <div class="main-shop">
                <div class="shop">
                    <a href="#"><img src="../assets/images/trolley.png" alt="trolley"></a>
                </div>
                <div class="profile">
                    <a href="#"><img src="../assets/images/profile.png" alt="profile"></a>
                </div>
            </div>
        </div>
    </header>
    <section class="questions container-one">
        <h1>FAQ &dash; Orders</h1>
        <div id="accordion">
            <h2>When will I be charged for my order?</h2>
            <div>
              <p>
                When your order is placed, the total amount of the order will be reserved from the account you used. This amount will only be deducted from your account when the order has been processed in store. You will receive a confirmation email when the order is placed, and again when the order has been processed.
             </p>
            </div>
            <h2>What can I order online?</h2>
            <div>
              <p>
                You can order from the full range of products on our online store available for your delivery area. 
              </p>
            </div>
            <h2>What happens if my order is damaged or I am unsatisfied?</h2>
            <div>
              <p>
                If your order is damaged on delivery, please retain the insert that comes with your order and return your items at your nearest Shop.Co store.
              </p>
            </div>
            <h2>How can I track my order?</h2>
            <div>
              <p>
                You will receive three emails from us when you place an order on our website or app.
              </p>
            </div>
            <h2>My order has not arrived when I expected it to, What can I do?</h2>
            <div>
              <p>
                Please contact us on shop.co@gmail.com and we will investigate your claim. Remember to include your order number. 
              </p>
            </div>
            <h2>How do I cancel an order?</h2>
            <div>
              <p>
                Allow us to help with this, Please contact us on shop.co@gmail.com. Remember to include your order number. 
              </p>
            </div>
        </div>
    </section>

    <!-- Footer Section -->
    <section class="footer-section">
      <div class="blacktwo-one">
          <h3>STAY UP TO DATE ABOUT OUR LATEST OFFERS</h3>
          <div class="email-box">
              <div>
                  <input type="email" class="email-input" placeholder="Please enter your Email">
              </div>
              <div>
                  <button id="btn"><a href="#">Subscribe to Newsletter</a></button>
              </div>
          </div>
      </div>
  </section>

  <footer class="footerbottom-one container-one">
          <div class="column">
              <a href="../index.html"><img src="../assets/images/SHOP.CO.png" alt="Shop.Co"></a>
              <p>We have clothes that suits your style and which you&apos;re proud to wear. From women to men.</p>
              <div class="social-icons">
                  <a href="https://x.com/?lang=en-za"><img src="../assets/images/twitter.png" alt="twitter"></a>
                  <a href="https://www.facebook.com/"><img src="../assets/images/facebook.png" alt="facebook"></a>
                  <a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="instagram"></a>
                  <a href="https://github.com/"><img src="../assets/images/github.png" alt="github"></a>
              </div>
          </div>
          <div class="column">
              <h3>COMPANY</h3>
              <ul>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Works</a></li>
                  <li><a href="#">Careers</a></li>
              </ul>
          </div>
          <div class="column">
              <h3>HELP</h3>
              <ul>
                  <li><a href="#">Customer Support</a></li>
                  <li><a href="#">Delivery Details</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Privacy Policy</a></li>
              </ul>
          </div>
          <div class="column">
              <h3>FAQ</h3>
              <ul>
                  <li><a href="#">Account</a></li>
                  <li><a href="#">Manage Deliveries</a></li>
                  <li><a href="../pages/faq.html">Orders</a></li>
                  <li><a href="#">Payments</a></li>
              </ul>
          </div>
          <div class="column">
              <h3>RESOURCES</h3>
              <ul>
                  <li><a href="#">Free eBooks</a></li>
                  <li><a href="#">Development Tutorial</a></li>
                  <li><a href="#">How to - Blog</a></li>
                  <li><a href="#">Youtube Playlist</a></li>
              </ul>
          </div>
      </div>
  </footer>
      <div class="banking">
          <div class="container-three">
          
          <p>Shop.co &copy;2000 - 2023. All Rights Reserved</p>
          
          <div class="bank">
              <img src="../assets/images/visa.png" alt="visa">
              <img src="../assets/images/mastercard.png" alt="mastercard">
              <img src="../assets/images/paypal.png" alt="paypal">
              <img src="../assets/images/applepay.png" alt="applepay">
              <img src="../assets/images/gpay.png" alt="gpay">
          </div> 
      </div>
      </div>
  



    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>  
    <script src="../assets/resources/slick-1.8.1/slick/slick.min.js"></script>
    <script src="../assets/scripts/script.js"></script>
</body>
</html>