{% extends "index.html" %}
{% load static %}

{% block content %}

  <!-- Sidebar Filters -->
  <aside class="rightside container-second">
    <div class="side">
      <div class="right">
        <h1>Home</h1>
        <img src="{% static 'shopco/images/Side.png' %}" alt="">
        <p>Casual</p>
      </div>
      <div class="left">
        <h2>Filters</h2>
        <img src="{% static 'shopco/images/Vector (2).png' %}" alt="">
      </div>

      <div class="line"><img src="{% static 'shopco/images/Line 9.png' %}" alt=""></div>

      <div class="clothes">
        <p>T-shirts</p><img src="{% static 'shopco/images/Side.png' %}" alt="">
        <p>Shorts</p><img src="{% static 'shopco/images/Side.png' %}" alt="">
        <p>Shirts</p><img src="{% static 'shopco/images/Side.png' %}" alt="">
        <p>Hoodie</p><img src="{% static 'shopco/images/Side.png' %}" alt="">
        <p>Jeans</p><img src="{% static 'shopco/images/Side.png' %}" alt="">
      </div>

      <div class="line"><img src="{% static 'shopco/images/Line 10.png' %}" alt=""></div>

      <div class="price">
        <h3>Price</h3>
        <img src="{% static 'shopco/images/Up.png' %}" alt="">
      </div>
      <div class="line2">
        <img src="{% static 'shopco/images/Group 6.png' %}" alt="">
        <p>$50</p>
        <div class="line3"><p>$200</p></div>
      </div>

      <div class="line"><img src="{% static 'shopco/images/Line 11.png' %}" alt=""></div>

      <div class="colors">
        <h4>Colors</h4>
        <img src="{% static 'shopco/images/Up.png' %}" alt="">
      </div>
      <div class="colors2">
        <img src="{% static 'shopco/images/Frame 89.png' %}" alt="">
      </div>

      <div class="line"><img src="{% static 'shopco/images/Line 12.png' %}" alt=""></div>

      <div class="size">
        <h5>Size</h5>
        <img src="{% static 'shopco/images/Up.png' %}" alt="">
      </div>
      <div class="size2">
        <img src="{% static 'shopco/images/Frame 80.png' %}" alt="">
      </div>

      <div class="line"><img src="{% static 'shopco/images/Line 13.png' %}" alt=""></div>

      <div class="dress">
        <h6>Dress Style</h6>
        <img src="{% static 'shopco/images/Up.png' %}" alt="">
      </div>
      <div class="style">
        <p>Casual</p><img src="{% static 'shopco/images/Side.png' %}" alt="">
        <p>Formal</p><img src="{% static 'shopco/images/Side.png' %}" alt="">
        <p>Party</p><img src="{% static 'shopco/images/Side.png' %}" alt="">
        <p>Gym</p><img src="{% static 'shopco/images/Side.png' %}" alt="">
      </div>

      <div class="filter">
        <img src="{% static 'shopco/images/Frame 14.png' %}" alt="">
      </div>
    </div>
  </aside>

  <!-- Product Section -->
  <section class="section">
    <div class="col1">
      <h1>Casual</h1>
      <div class="box1">
        <img src="{% static 'shopco/images/Frame 67.png' %}" alt="">
      </div>
      <div class="boxes">
        <div class="box">
          <img src="{% static 'shopco/images/image 1.png' %}" alt="">
          <p>Gradient Graphic T-shirt</p>
          <img src="{% static 'shopco/images/Frame 38 (2).png' %}" alt="">
          <p>$145</p>
        </div>
        <div class="box">
          <img src="{% static 'shopco/images/Frame2(1).png' %}" alt="">
          <p>Polo with Tipping Details</p>
          <img src="{% static 'shopco/images/Frame 40.png' %}" alt="">
          <p>$180</p>
        </div>
        <div class="box">
          <img src="{% static 'shopco/images/Frame 3 (2).png' %}" alt="">
          <p>Black Striped T-shirt</p>
          <img src="{% static 'shopco/images/Frame 41.png' %}" alt="">
          <p>$120 <s>$150</s> <span class="red">-30%</span></p>
        </div>
        <div class="box">
          <img src="{% static 'shopco/images/Frame 4.png' %}" alt="">
          <p>SKINNY FIT JEANS</p>
          <img src="{% static 'shopco/images/Frame 38 (2).png' %}" alt="">
          <p>$240 <s>$260</s> <span class="red">-20%</span></p>
        </div>
        <div class="box">
          <img src="{% static 'shopco/images/image 5.png' %}" alt="">
          <p>CHECKERED SHIRT</p>
          <img src="{% static 'shopco/images/Frame 69 (1).png' %}" alt="">
          <p>$180</p>
        </div>
        <div class="box">
          <img src="{% static 'shopco/images/image 6.png' %}" alt="">
          <p>SLEEVE STRIPED T-SHIRT</p>
          <img src="{% static 'shopco/images/Frame 40.png' %}" alt="">
          <p>$130</p>
        </div>
        <div class="box">
          <img src="{% static 'shopco/images/Frame 7.png' %}" alt="">
          <p>VERTICAL STRIPED SHIRT</p>
          <img src="{% static 'shopco/images/Frame 41.png' %}" alt="">
          <p>$212 <s>$260</s> <span class="red">-20%</span></p>
        </div>
        <div class="box">
          <img src="{% static 'shopco/images/image 8.png' %}" alt="">
          <p>COURAGE GRAPHIC T-SHIRT</p>
          <img src="{% static 'shopco/images/Frame 68.png' %}" alt="">
          <p>$145</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
