<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter Page</title>
    <link rel="stylesheet" href="../assets/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="../assets/resources/slick-1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../assets/resources/slick-1.8.1/slick/slick-theme.css" />

</head>

<body>
    <header class="main-header">
        <div class="black container-one">
            <p>Sign Up and get 20&#37; off to your first order.</p>
            <div class="sign-up">
                <a href="#">Sign Up Now</a>
            </div>
            <div class="close">
                <a href="#"><img src="../assets/images/closesign.png" alt="close"></a>
            </div>
        </div>
        <div class="two-col container-two">
            <div class="col">
                <div class="logo">
                    <a href="./index.html"><img src="../assets/images/SHOP.CO.png" alt="Shop.Co"></a>
                </div>
                <nav class="navigation">
                    <ul>
                        <li><a href="#">Shop<img src="../assets/images/downarrow.png" alt="downarrow"></a></li>
                        <li><a href="#">On Sale</a></li>
                        <li><a href="#">New Arrivals</a></li>
                        <li><a href="#">Brands</a></li>
                    </ul>
                </nav>
                <div class="search-box">
                    <button id="search"><img src="../assets/images/search.png" alt="search"></button>
                    <input type="text" class="search-input" placeholder="Search...">
                </div>
            </div>
            <div class="main-shop">
                <div class="shop">
                    <a href="#"><img src="../assets/images/trolley.png" alt="trolley"></a>
                </div>
                <div class="profile">
                    <a href="#"><img src="../assets/images/profile.png" alt="profile"></a>
                </div>
            </div>
    </header>
<!--  
    <div class="rightside container-second">
        <div class="side">
            <div class="right">
                <h1>Home</h1>
                <img src="../assets/images/Side.png" alt="">
                <p>Casual</p>
            </div>
            <div class="left">
                <h2>Filters</h2>
                <img src="../assets/images/Vector (2).png" alt="">
            </div>
            <div class="line">
                <img src="../assets/images/Line 9.png" alt="">
            </div>
            <div class="clothes">
                <p>T-shirts</p>
                <img src="../assets/images/Side.png" alt="">
                <p>Shorts</p>
                <img src="../assets/images/Side.png" alt="">
                <p>Shirts</p>
                <img src="../assets/images/Side.png" alt="">
                <p>Hoodie</p>
                <img src="../assets/images/Side.png" alt="">
                <p>Jeans</p>
                <img src="../assets/images/Side.png" alt="">
            </div>
        
            <div class="line">
                <img src="../assets/images/Line 10.png" alt="">
            </div>
            <div class="price">
                <h3>Price</h3>
                <img src="../assets/images/Up.png" alt="">
            </div>
            <div class="line2">
                <img src="../assets/images/Group 6.png" alt="">
                <p>$50</p>
                <div class="line3">
                    <p>$200</p>
                </div>
            </div>
            <div class="line">
                <img src="../assets/images/Line 11.png" alt="">
            </div>
            <div class="colors">
                <h4>Colors</h4>
                <img src="../assets/images/Up.png" alt="">
            </div>
            <div class="colors2">
                <img src="../assets/images/Frame 89.png" alt="">
            </div>
            <div class="line">
                <img src="../assets/images/Line 12.png" alt="">
            </div>
            <div class="size">
                <h5>Size</h5>
                <img src="../assets/images/Up.png" alt="">
            </div>
            <div class="size2">
                <img src="../assets/images/Frame 80.png" alt="">
            </div>
            <div class="line">
                <img src="../assets/images/Line 13.png" alt="">
            </div>
            <div class="dress">
                <h6>Dress Style</h6>
                <img src="../assets/images/Up.png" alt=""> 
            </div>
            <div class="style">
                <p>Casual</p>
                <img src="../assets/images/Side.png" alt="">
                <p>Formal</p>
                <img src="../assets/images/Side.png" alt="">
                <p>Party</p>
                <img src="../assets/images/Side.png" alt="">
                <p>Gym</p>
                <img src="../assets/images/Side.png" alt="">
            </div>
            <div class="filter">
                <img src="../assets/images/Frame 14.png" alt="">
            </div>
        </div>
       -->
<section class="section">
            <div class="col1">
                <h1>Casual</h1>
                <div class="box1">
                    <img src="../assets/images/Frame 67.png" alt="">
                </div>
            <div class="boxes">
                <div class="box">
                    <img src="../assets/images/image 1.png" alt="">
                    <p>Gradient Graphic T-shirt</p>
                    <img src="../assets/images/Frame 38 (2).png" alt="">
                    <p>$145<p>
                </div>
                <div class="box">
                    <img src="../assets/images/Frame2(1).png" alt="">
                    <p>Polo with Tipping Details</p>
                    <img src="../assets/images/Frame 40.png " alt="">
                    <p>$180</p>
                </div>
                <div class="box">
                    <img src="../assets/images/Frame 3 (2).png" alt="">
                    <p>Black Striped T-shirt</p>
                    <img src="../assets/images/Frame 41.png" alt="">
                    <p>$120 <s>$150</s> <span class="red">-30%</span> </p>
                </div>
                <div class="box">
                    <img src="../assets/images/Frame 4.png" alt="">
                    <p>SKINNY FIT JEANS</p>
                    <img src="../assets/images/Frame 38 (2).png" alt="">
                    <p>$240 <s>$260</s> <span class="red">-20%</span> </p>
                </div>
                <div class="box">
                    <img src="../assets/images/image 5.png" alt="">
                    <p>CHECKERED SHIRT</p>
                    <img src="../assets/images/Frame 69 (1).png" alt="">
                    <p>$180</p>
                </div>
                <div class="box">
                    <img src="../assets/images/image 6.png" alt="">
                    <p>SLEEVE STRIPED T-SHIRT</p>
                    <img src="../assets/images/Frame 40.png" alt="">
                    <p>$130</p>
                </div>
                <div class="box">
                    <img src="../assets/images/Frame 7.png" alt="">
                    <p>VERTICAL STRIPED SHIRT</p>
                    <img src="../assets/images/Frame 41.png" alt="">
                    <p>$212 <s>$260</s> <span class="red">-20%</span> </p>
                </div>
                <div class="box">
                    <img src="../assets/images/image 8.png" alt="">
                    <p>COURAGE GRAPHIC T-SHIRT</p>
                    <img src="../assets/images/Frame 68.png" alt="">
                    <p>$145</p>
                </div>
                <div class="box">
                    <img src="../assets/images/image 9.png" alt="">
                    <p>LOOSE FIT BERMUDA SHORTS</p>
                    <img src="../assets/images/Frame 69 (1).png" alt="">
                    <p>$80</p>
                </div>
                <div class="box2">
                    <img src="../assets/images/Frame 88.png" alt="">
                </div>
            </div>
        </div>
        </section>
    </div> -->
    <!-- Footer Section -->
 <section class="footer-section">
    <div class="blacktwo-one">
        <h3>STAY UP TO DATE ABOUT OUR LATEST OFFERS</h3>
        <div class="email-box">
            <div>
                <input type="email" class="email-input" placeholder="Please enter your Email">
            </div>
            <div>
                <button id="btn"><a href="#">Subscribe to Newsletter</a></button>
            </div>
        </div>
    </div>
</section>

<footer class="footerbottom-one container-one">
        <div class="column">
            <a href="../index.html"><img src="../assets/images/SHOP.CO.png" alt="Shop.Co"></a>
            <p>We have clothes that suits your style and which you&apos;re proud to wear. From women to men.</p>
            <div class="social-icons">
                <a href="https://x.com/?lang=en-za"><img src="../assets/images/twitter.png" alt="twitter"></a>
                <a href="https://www.facebook.com/"><img src="../assets/images/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="instagram"></a>
                <a href="https://github.com/"><img src="../assets/images/github.png" alt="github"></a>
            </div>
        </div>
        <div class="column">
            <h3>COMPANY</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Works</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>HELP</h3>
            <ul>
                <li><a href="#">Customer Support</a></li>
                <li><a href="#">Delivery Details</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>FAQ</h3>
            <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Manage Deliveries</a></li>
                <li><a href="../pages/faq.html">Orders</a></li>
                <li><a href="#">Payments</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>RESOURCES</h3>
            <ul>
                <li><a href="#">Free eBooks</a></li>
                <li><a href="#">Development Tutorial</a></li>
                <li><a href="#">How to - Blog</a></li>
                <li><a href="#">Youtube Playlist</a></li>
            </ul>
        </div>
    </div>
</footer>
    <div class="banking">
        <div class="container-three">
        
            <p>Shop.co &copy;2000 - 2023. All Rights Reserved</p>
            
            <div class="bank">
                <img src="../assets/images/visa.png" alt="visa">
                <img src="../assets/images/mastercard.png" alt="mastercard">
                <img src="../assets/images/paypal.png" alt="paypal">
                <img src="../assets/images/applepay.png" alt="applepay">
                <img src="../assets/images/gpay.png" alt="gpay">
            </div> 
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
    <script src="../assets/resources/slick-1.8.1/slick/slick.min.js"></script>
    <script src="./AutoLightbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/ligh
    tbox.min.js"></script>
    <script src="../assets/scripts/script.js"></script>
</body>
</html>