<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
    <!-- <link rel="stylesheet" href="../assets/styles/styles-two.css"> -->
    <link rel="stylesheet" href="../assets/styles/styles.css">
</head>
<body>
<!-- Header -->
<header class="main-header">
    <div class="black container-one">
        <p>Sign Up and get 20&#37; off to your first order.</p>
        <div class="sign-up">
            <a href="#">Sign Up Now</a>
        </div>
        <div class="close">
            <a href="#"><img src="../assets/images/closesign.png" alt="close"></a>
        </div>
    </div>
    <div class="two-col container-two">
        <div class="col">
            <div class="logo">
                <a href="./index.html"><img src="../assets/images/SHOP.CO.png" alt="Shop.Co"></a>
            </div>
            <nav class="navigation">
                <ul>
                    <li><a href="#">Shop<img src="../assets/images/downarrow.png" alt="downarrow"></a></li>
                    <li><a href="#">On Sale</a></li>
                    <li><a href="#">New Arrivals</a></li>
                    <li><a href="#">Brands</a></li>
                </ul>
            </nav>
            <div class="search-box">
                <button id="search"><img src="../assets/images/search.png" alt="search"></button>
                <input type="text" class="search-input" placeholder="Search...">
            </div>
        </div>
        <div class="main-shop">
            <div class="shop">
                <a href="#"><img src="../assets/images/trolley.png" alt="trolley"></a>
            </div>
            <div class="profile">
                <a href="#"><img src="../assets/images/profile.png" alt="profile"></a>
            </div>
        </div>
    </div>
</header>
    <!-- header end -->
<section>
<!-- nav bar 2 -->
    <div class="nav-two">
        <nav>
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><img src="../assets/images/sidedrp.png" alt="side dropdown"></li>
                <li><a href="#">Shop</a></li>
                <li><img src="../assets/images/sidedrp.png" alt="side dropdown"></li>
                <li><a href="#">Men</a></li>
                <li><img src="../assets/images/sidedrp.png" alt="side dropdown"></li>
                <li><a href="#">T-shirts</a></li>
            </ul>
        </nav>
    </div> 
        <!-- nav bar 2 end -->

      <!-- left side one -->
    <div class="left-side-one">

        <!-- lightbox -->
        <div class="light-box">
            <div class="imgs">
                <img src="../assets/images/top-left-shirt.png" alt="Shirt 1">
                    <img src="../assets/images/top-left-shirt2.png" alt="Shirt 2">
                    <img src="../assets/images/top-left-shirt3.png" alt="Shirt 3">
            </div>
                <div class="display">
                <img src="../assets/images/top-left-main-shirt.png" alt="top-left-main-shirt">
                </div>
            </ul>
        </div>
        <!-- lightbox end  -->
    </div>
         <!-- left side one end -->

    <!-- rigth side one for color and sizes -->
    <div class="right-side-one">
        <h2>One Life Graphic T&hyphen;shirt</h2>

        <div class="review">
            <img src="../assets/images/stars-4.5.png" alt="stars-4">
            <h2>4.5/<span class="total">5</span></h2>
        </div>

        <div class="prices">
            <div class="box">
                <h2>$260</h2>
                <h2>$300</h2>
            </div>
            <div class="discount">-40%</div>
        </div>

        <div class="content">
            <p>This graphic t-shirt which is perfect for any occasion. Crafted from a soft and breathable fabric, it
                offers
                superior comfort and style.</p>
        </div>

        <!-- colors -->
        <div class="colors">
            <h3>Select Colors</h3>
            <div class="color-set">
                <img src="../assets/images/color-1.png" alt="top-color1">
                <img src="../assets/images/top-color2.png" alt="top-color2">
                <img src="../assets/images/top-color3.png" alt="top-color3">
            </div>
        </div>

        <!-- sizes -->
        <div class="sizes">
            <h3>Choose Size</h3>
            <div class="sizes-set">
                <div class="sml">Small</div>
                <div class="med">Medium</div>
                <div class="lrg">Large</div>
                <div class="xl">X-Large</div>
            </div>
        </div>

        <!-- cart check -->

        <div class="cart-two">
            <div class="amount">
                <img src="../assets/images/minus-sign.png" alt="subtract">1<img
                    src="../assets/images/add-sign.png" alt="add">
            </div>

            <button class="add-to-cart"><a href="../pages/check-out.html">Add to Cart</a></button>
        </div>
    </div>

</section>

<!-- section 2 -->
<section class="section-two">

<!-- details and filter bar -->
    <div class="details">
        <div class="nav">Product Details</div>
        <div class="nav">Rating & Reviews</div>
        <div class="nav">FAQs</div>
    </div> 
<!-- panel 2 -->
    <div class="panel">
        <div class="reviews">
            <h2>All Reviews</h2>
            <p>(451)</p>
        </div>
                
        <div class="right">
            <div class="img"></div>
            <div class="latest">Latest <img src="../assets/images/dropdn-1.png" alt="dropdn-1"></div>
            <div class="write">Write a Review</div>
        </div>
    </div>
 
    <!-- reviews -->
    <div class="main-container">
        <div class="container">
    <!-- div*3 contains all left side reviews -->
            <div class="box">
                <div class="content">
                    <img src="../assets/images/stars-4.5.png" alt="stars">
                    <div class="name">
                        <h3>Samantha D.</h3>
                        <img src="../assets/images/verified.png" alt="tick">
                    </div>
                    <p>"I absolutely love this t-shirt! The design is unique and the fabric feels so comfortable. As a
                        fellow designer, I appreciate the attention to detail. It's become my favorite go-to shirt."</p>
                </div>

                    <p class="date">Posted on August 14, 2023</p>
            </div>

            <div class="box">
                <div class="content">
                    <img src="../assets/images/3.5-stars.png" alt="stars">
                    <div class="name">
                        <h3>Ethan R.</h3>
                        <img src="../assets/images/verified.png" alt="verified">
                    </div>
                    <p> "This t-shirt is a must-have for anyone who appreciates good design. The minimalistic yet
                        stylish
                        pattern caught my eye, and the fit is perfect. I can see the designer's touch in every aspect of
                        this shirt."</p>
                </div>
                    <p class="date">Posted on August 16, 2023</p>
            </div>

            <div class="box">
                <div class="content">
                    <img src="../assets/images/4-stars.png" alt="4-stars">
                    <div class="name">
                        <h3>Liam K.</h3>
                        <img src="../assets/images/verified.png" alt="verified">
                    </div>
                    <p>"This t-shirt is a fusion of comfort and creativity. The fabric is soft, and the design speaks
                        volumes about the designer's skill. It's like wearing a piece of art that reflects my passion
                        for
                        both design and fashion."</p>
                </div>
                    <p class="date">Posted on August 18, 2023</p>
            </div>
        </div>

        <div class="container"> 
<!-- div*3 contains all right side reviews -->
            <div class="box">
                <div class="content">
                    <img src="../assets/images/4-stars.png" alt="4-stars">
                    <div class="name">
                        <h3>Alex M.</h3>
                        <img src="../assets/images/verified.png" alt="verified">
                    </div>
                    <p>"The t-shirt exceeded my expectations! The colors are vibrant and the print quality is top-notch.
                        Being a UI/UX designer myself, I'm quite picky about aesthetics, and this t-shirt definitely
                        gets a
                        thumbs up from me."</p>
                </div>
                    <p class="date">Posted on August 15, 2023</p>
            </div>

            <div class="box">
                <div class="content">
                    <img src="../assets/images/4-stars.png" alt="4-stars">
                    <div class="name">
                        <h3>Olivia P.</h3>
                        <img src="../assets/images/verified.png" alt="verified">
                    </div>
                    <p>"As a UI/UX enthusiast, I value simplicity and functionality. This t-shirt not only represents
                        those
                        principles but also feels great to wear. It's evident that the designer poured their creativity
                        into
                        making this t-shirt stand out."</p>
                </div>
                    <p class="date">Posted on August 17, 2023</p>
            </div>

            <div class="box">
                <div class="content">
                    <img src="../assets/images/stars-4.5.png" alt="stars">
                    <div class="name">
                        <h3>Ava H.</h3>
                        <img src="../assets/images/verified.png" alt="verified">
                    </div>
                    <p>"I'm not just wearing a t-shirt; I'm wearing a piece of design philosophy. The intricate details
                        and
                        thoughtful layout of the design make this shirt a conversation starter."</p>
                    <p class="date">Posted on August 19, 2023</p>
                </div>
            </div>
        </div>
    </div>

    <!-- loading button -->
    <div class="button"><button class="load"><a href="#">Load More Reviews</a></button></div>
</section>
    <!--section 2 end -->
    
<!-- section three  -->
<section class="section-three">
<!-- Heading for section 3 -->
    <h2>You might also like</h2>
        <div class="container">
            <div class="box">
                <img src="../assets/images/section2-left-shirt1.png" alt="section2-left-shirt1">
                <h3>Polo with Contrast Trims</h3>
                <div class="rating">
                    <img src="../assets/images/4-stars.png" alt="4-stars">
                    <p>4.0/<span class="total">5</span></p>
                </div>
                <div class="price">
                        <p>$212</p>
                        <p class="cancel">$242</p>
                    <div class="discount">-20%</div>
                </div>
            </div>
            <div class="box">
                    <img src="../assets/images/section2-left-shirt2.png" alt="section2-left-shirt2">
                    <h3>Gradient Graphic T-shirt</h3>
                <div class="rating">
                    <img src="../assets/images/3.5-stars.png" alt="3.5 stars">
                    <p>3.5/<span class="total">5</span></p>
                </div>
                <div class="price">
                    <p>$145</p>
                </div>
            </div>
            <div class="box">
                    <img src="../assets/images/section2-right-shirt1.png" alt="section2-right-shirt1">
                    <h3>Polo with Tipping Details</h3>
                <div class="rating">
                    <img src="../assets/images/stars-4.5.png" alt="4.5stars">
                    <p>4.5/<span class="total">5</span></p>
                </div>
                <div class="price">
                    <p>$180</p>
                </div>
            </div>
            <div class="box">
                    <img src="../assets/images/section2-right-shirt2.png" alt="section2-right-shirt2">
                    <h3>Black Striped T-shirt</h3>
                <div class="rating">
                    <img src="../assets/images/5-stars.png" alt="5 stars">
                    <p>5.0/<span class="total">5</span></p>
                </div>
                <div class="price">
                    <p>$120</p>
                    <p class="cancel">$150</p>
                    <div class="discount">-30%</div>
                </div>
            </div>
        </div>
</section>

<!-- Footer Section -->
<section class="footer-section">
    <div class="blacktwo-one">
        <h3>STAY UP TO DATE ABOUT OUR LATEST OFFERS</h3>
        <div class="email-box">
            <div>
                <input type="email" class="email-input" placeholder="Please enter your Email">
            </div>
            <div>
                <button id="btn"><a href="#">Subscribe to Newsletter</a></button>
            </div>
        </div>
    </div>
</section>
    
<footer class="footerbottom-one container-one">
        <div class="column">
            <a href="../index.html"><img src="../assets/images/SHOP.CO.png" alt="Shop.Co"></a>
            <p>We have clothes that suits your style and which you&apos;re proud to wear. From women to men.</p>
            <div class="social-icons">
                <a href="https://x.com/?lang=en-za"><img src="../assets/images/twitter.png" alt="twitter"></a>
                <a href="https://www.facebook.com/"><img src="../assets/images/facebook.png" alt="facebook"></a>
                <a href="https://www.instagram.com/"><img src="../assets/images/instagram.png" alt="instagram"></a>
                <a href="https://github.com/"><img src="../assets/images/github.png" alt="github"></a>
            </div>
        </div>
        <div class="column">
            <h3>COMPANY</h3>
            <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Works</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>HELP</h3>
            <ul>
                <li><a href="#">Customer Support</a></li>
                <li><a href="#">Delivery Details</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>FAQ</h3>
            <ul>
                <li><a href="#">Account</a></li>
                <li><a href="#">Manage Deliveries</a></li>
                <li><a href="../pages/faq.html">Orders</a></li>
                <li><a href="#">Payments</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>RESOURCES</h3>
            <ul>
                <li><a href="#">Free eBooks</a></li>
                <li><a href="#">Development Tutorial</a></li>
                <li><a href="#">How to - Blog</a></li>
                <li><a href="#">Youtube Playlist</a></li>
            </ul>
        </div>
</footer>
        <div class="banking">
            <div class="container-three">
                <p>Shop.co &copy;2000 - 2023. All Rights Reserved</p>
                <div class="bank">
                    <img src="../assets/images/visa.png" alt="visa">
                    <img src="../assets/images/mastercard.png" alt="mastercard">
                    <img src="../assets/images/paypal.png" alt="paypal">
                    <img src="../assets/images/applepay.png" alt="applepay">
                    <img src="../assets/images/gpay.png" alt="gpay">
                </div> 
            </div>
        </div>


    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="../assets/resources/lightbox/AutoLightbox.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/ligh
    tbox.min.js"></script>

    <script src="../assets/scripts/javascript.js"></script>
</body>

</html>