{% extends "index.html" %}
{% load static %}

{% block title %}Product Page{% endblock %}

{% block content %}
<section>
    <!-- nav bar 2 -->
    <div class="nav-two">
        <nav>
            <ul class="breadcrumb">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><img src="{% static 'shopco/images/sidedrp.png' %}" alt="side dropdown"></li>
                <li><a href="#">Shop</a></li>
                <li><img src="{% static 'shopco/images/sidedrp.png' %}" alt="side dropdown"></li>
                <li><a href="#">Men</a></li>
                <li><img src="{% static 'shopco/images/sidedrp.png' %}" alt="side dropdown"></li>
                <li><a href="#">T-shirts</a></li>
            </ul>
        </nav>
    </div>
    <!-- nav bar 2 end -->

    <!-- left side one -->
    <div class="left-side-one">
        <!-- lightbox -->
        <div class="light-box">
            <div class="imgs">
                <img src="{% static 'shopco/images/top-left-shirt.png' %}" alt="Shirt 1">
                <img src="{% static 'shopco/images/top-left-shirt2.png' %}" alt="Shirt 2">
                <img src="{% static 'shopco/images/top-left-shirt3.png' %}" alt="Shirt 3">
            </div>
            <div class="display">
                <img src="{% static 'shopco/images/top-left-main-shirt.png' %}" alt="top-left-main-shirt">
            </div>
        </div>
        <!-- lightbox end  -->
    </div>
    <!-- left side one end -->

    <!-- right side one -->
    <div class="right-side-one">
        <h2>One Life Graphic T&hyphen;shirt</h2>

        <div class="review">
            <img src="{% static 'shopco/images/stars-4.5.png' %}" alt="stars-4">
            <h2>4.5/<span class="total">5</span></h2>
        </div>

        <div class="prices">
            <div class="box">
                <h2>$260</h2>
                <h2>$300</h2>
            </div>
            <div class="discount">-40%</div>
        </div>

        <div class="content">
            <p>This graphic t-shirt which is perfect for any occasion. Crafted from a soft and breathable fabric, it
                offers superior comfort and style.</p>
        </div>

        <!-- colors -->
        <div class="colors">
            <h3>Select Colors</h3>
            <div class="color-set">
                <img src="{% static 'shopco/images/color-1.png' %}" alt="top-color1">
                <img src="{% static 'shopco/images/top-color2.png' %}" alt="top-color2">
                <img src="{% static 'shopco/images/top-color3.png' %}" alt="top-color3">
            </div>
        </div>

        <!-- sizes -->
        <div class="sizes">
            <h3>Choose Size</h3>
            <div class="sizes-set">
                <div class="sml">Small</div>
                <div class="med">Medium</div>
                <div class="lrg">Large</div>
                <div class="xl">X-Large</div>
            </div>
        </div>

        <!-- cart check -->
        <div class="cart-two">
            <div class="amount">
                <img src="{% static 'shopco/images/minus-sign.png' %}" alt="subtract">1
                <img src="{% static 'shopco/images/add-sign.png' %}" alt="add">
            </div>
            <button class="add-to-cart"><a href="{% url 'checkout' %}">Add to Cart</a></button>
        </div>
    </div>
</section>

<!-- section 2 -->
<section class="section-two">
    <!-- details and filter bar -->
    <div class="details">
        <div class="nav">Product Details</div>
        <div class="nav">Rating & Reviews</div>
        <div class="nav">FAQs</div>
    </div>

    <!-- panel 2 -->
    <div class="panel">
        <div class="reviews">
            <h2>All Reviews</h2>
            <p>(451)</p>
        </div>
        <div class="right">
            <div class="img"></div>
            <div class="latest">Latest <img src="{% static 'shopco/images/dropdn-1.png' %}" alt="dropdn-1"></div>
            <div class="write">Write a Review</div>
        </div>
    </div>

    <!-- reviews -->
    <div class="main-container">
        <div class="container">
            <!-- left side reviews -->
            <div class="box">
                <div class="content">
                    <img src="{% static 'shopco/images/stars-4.5.png' %}" alt="stars">
                    <div class="name">
                        <h3>Samantha D.</h3>
                        <img src="{% static 'shopco/images/verified.png' %}" alt="tick">
                    </div>
                    <p>"I absolutely love this t-shirt! The design is unique and the fabric feels so comfortable. As a
                        fellow designer, I appreciate the attention to detail. It's become my favorite go-to shirt."</p>
                </div>
                <p class="date">Posted on August 14, 2023</p>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{% static 'shopco/images/3.5-stars.png' %}" alt="stars">
                    <div class="name">
                        <h3>Ethan R.</h3>
                        <img src="{% static 'shopco/images/verified.png' %}" alt="verified">
                    </div>
                    <p>"This t-shirt is a must-have for anyone who appreciates good design. The minimalistic yet
                        stylish pattern caught my eye, and the fit is perfect."</p>
                </div>
                <p class="date">Posted on August 16, 2023</p>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{% static 'shopco/images/4-stars.png' %}" alt="4-stars">
                    <div class="name">
                        <h3>Liam K.</h3>
                        <img src="{% static 'shopco/images/verified.png' %}" alt="verified">
                    </div>
                    <p>"This t-shirt is a fusion of comfort and creativity. The fabric is soft, and the design speaks
                        volumes about the designer's skill."</p>
                </div>
                <p class="date">Posted on August 18, 2023</p>
            </div>
        </div>

        <div class="container">
            <!-- right side reviews -->
            <div class="box">
                <div class="content">
                    <img src="{% static 'shopco/images/4-stars.png' %}" alt="4-stars">
                    <div class="name">
                        <h3>Alex M.</h3>
                        <img src="{% static 'shopco/images/verified.png' %}" alt="verified">
                    </div>
                    <p>"The t-shirt exceeded my expectations! The colors are vibrant and the print quality is top-notch."</p>
                </div>
                <p class="date">Posted on August 15, 2023</p>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{% static 'shopco/images/4-stars.png' %}" alt="4-stars">
                    <div class="name">
                        <h3>Olivia P.</h3>
                        <img src="{% static 'shopco/images/verified.png' %}" alt="verified">
                    </div>
                    <p>"As a UI/UX enthusiast, I value simplicity and functionality. This t-shirt not only represents
                        those principles but also feels great to wear."</p>
                </div>
                <p class="date">Posted on August 17, 2023</p>
            </div>

            <div class="box">
                <div class="content">
                    <img src="{% static 'shopco/images/stars-4.5.png' %}" alt="stars">
                    <div class="name">
                        <h3>Ava H.</h3>
                        <img src="{% static 'shopco/images/verified.png' %}" alt="verified">
                    </div>
                    <p>"I'm not just wearing a t-shirt; I'm wearing a piece of design philosophy."</p>
                    <p class="date">Posted on August 19, 2023</p>
                </div>
            </div>
        </div>
    </div>

    <!-- loading button -->
    <div class="button">
        <button class="load"><a href="#">Load More Reviews</a></button>
    </div>
</section>
<!--section 2 end -->

<!-- section three -->
<section class="section-three">
    <h2>You might also like</h2>
    <div class="container">
        <div class="box">
            <img src="{% static 'shopco/images/section2-left-shirt1.png' %}" alt="section2-left-shirt1">
            <h3>Polo with Contrast Trims</h3>
            <div class="rating">
                <img src="{% static 'shopco/images/4-stars.png' %}" alt="4-stars">
                <p>4.0/<span class="total">5</span></p>
            </div>
            <div class="price">
                <p>$212</p>
                <p class="cancel">$242</p>
                <div class="discount">-20%</div>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'shopco/images/section2-left-shirt2.png' %}" alt="section2-left-shirt2">
            <h3>Gradient Graphic T-shirt</h3>
            <div class="rating">
                <img src="{% static 'shopco/images/3.5-stars.png' %}" alt="3.5 stars">
                <p>3.5/<span class="total">5</span></p>
            </div>
            <div class="price">
                <p>$145</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'shopco/images/section2-right-shirt1.png' %}" alt="section2-right-shirt1">
            <h3>Polo with Tipping Details</h3>
            <div class="rating">
                <img src="{% static 'shopco/images/stars-4.5.png' %}" alt="4.5stars">
                <p>4.5/<span class="total">5</span></p>
            </div>
            <div class="price">
                <p>$180</p>
            </div>
        </div>

        <div class="box">
            <img src="{% static 'shopco/images/section2-right-shirt2.png' %}" alt="section2-right-shirt2">
            <h3>Black Striped T-shirt</h3>
            <div class="rating">
                <img src="{% static 'shopco/images/5-stars.png' %}" alt="5 stars">
                <p>5.0/<span class="total">5</span></p>
            </div>
            <div class="price">
                <p>$120</p>
                <p class="cancel">$150</p>
                <div class="discount">-30%</div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
